{% extends "base.html" %}
{% block head  %}
    <title>Rentikusearch Login</title>
    <link href="{{ url_for('static', path='/styles/about.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
  {% include "header.html" %}
  <main>
    <section class="intro">
      <img src="{{ url_for('static', path='/images/Landing_Page_img.jpeg') }}" alt="Project Cover Image">
      <h1>Rentiku Search</h1>
      <p>Simplifying your property journey by seamlessly connecting you to perfect homes and commercial spaces.</p>
      <a href="https://yourapplication.com" target="_blank" class="cta-button">View Project</a>
    </section>

   <section class="features" id="features">
    <h2>Key Features</h2>
    <div class="feature">
      <img src="{{ url_for('static', path='/images/Landing_Page_Feature_1.jpeg') }}" alt="Feature 1 Image">
      <h3>Advanced Search Filters</h3>
      <p>At RentikuSearch, we understand that finding the perfect property is a personalized journey. That's why our platform offers an array of advanced search filters, allowing you to tailor your search precisely to your preferences. Filter by property type, price range, location and more, ensuring that you discover the ideal property that fits your unique needs. With RentikuSearch's advanced search capabilities, your dream property is just a few clicks away.</p>
    </div>
    <div class="feature">
      <img src="{{ url_for('static', path='/images/Landing_Page_Feature_2.jpeg') }}" alt="Feature 2 Image">
      <h3>Interactive Map</h3>
      <p> Explore rental properties like never before with RentikuSearch's interactive map feature. Our intuitive map interface enables you to visually browse available properties, whether you're searching in bustling city centers or serene suburban neighborhoods. Zoom in for detailed views, switch to satellite imagery for a closer look, and even filter search results directly on the map for effortless navigation. With RentikuSearch's interactive map, discovering your next property is as easy as exploring your favorite destinations.</p>
    </div>
    <div class="feature">
      <img src="{{ url_for('static', path='/images/Landing_Page_Feature_3.jpeg') }}" alt="Feature 3 Image">
      <h3>User-Friendly Interface:</h3>
      <p>Say goodbye to complicated rental searches and hello to simplicity with RentikuSearch's user-friendly interface. Designed with your needs in mind, our platform offers a clean and organized layout that makes finding your perfect rental a breeze. Whether you're browsing on your desktop or mobile device, RentikuSearch's responsive design ensures a seamless experience every time. With clear calls-to-action and intuitive navigation, RentikuSearch empowers you to effortlessly find and inquire about rentals, making your search journey smooth and stress-free.</p>
    </div>
  </section>
  <section class="about">
    <h3>About</h3>
    <p>The inception of RentikuSearch stemmed from personal frustration. As the sole creator of the project, I embarked on this endeavor driven by my own struggle in finding a rental property. Recognizing the challenges and complexities inherent in the search process, I committed myself to developing a solution that simplifies the experience for individuals like myself. RentikuSearch is not just a project; it's a manifestation of my determination to alleviate the difficulties I faced, offering a platform that empowers users to effortlessly discover their ideal rental homes. You can find the proect at <a href="https://github.com/Blackbeing/RentikuSearch/tree/dev">RentikuSearch</a></p>
  </section>

    </main>

{%  endblock %}
