{% extends "base.html" %}

{% block head %}
  <title>Rentiku Search</title>
  <link rel="stylesheet" href="{{ url_for('static', path='/styles/styles.css') }}">
{% endblock %}

{% block content %}

  <header>
    <nav class="navbar">
      <div class="logo">
        <h1>Rentiku Search</h1>
        <p>Find your dream property with ease.</p>
      </div>
      <div class="navbar-links">
        <a href="#">Home</a>
        <a href="#">Properties</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
      </div>
      <div class="search-box">
        <input type="text" placeholder="Search...">
        <button class="search-button">Search</button>
      </div>
    </nav>
  </header>
  <div class="property-section">
    <div class="property-gallery" id="property-gallery">
    {% for property in properties %}
      <div class="property-item">
      <img src="{{ property.imageUrl }}" alt="">
      <h3>{{ property.title}}</h3>
      <p>${{ property.price }}</p>
      </div>
    {% endfor %}

    </div>
  </div>

  <footer>
    <p>&copy; 2024 Rentiku Search. All rights reserved.</p>
  </footer>

{% endblock %}
